#next-meetup.active-meetup(data-id=meetup.id).form-row.meetup-toggle
	//- .col-xs-8
	//- 	input(type='email' name='email' placeholder='Email (required)' value=user.email).form-control.form-control-labelled
	.col-xs-8
		button(type='button' data-id=meetup.id).btn.btn-lg.btn-block.btn-default.js-rsvp-attending See you there
	.col-xs-4
		button(type='button' data-id=meetup.id).btn.btn-lg.btn-block.btn-default.btn-decline.js-rsvp-decline Can't make it?

		